.detail_list{
    width: 100%;
    padding: px2rem(30) px2rem(30);
    background: #1a1a1a;
    box-sizing: border-box;
    margin-top: px2rem(30);
    h1{
        color: #ababab;
        font-size: px2rem(28);
    }
    h3{
        color: #8a8a8a;
        font-size: px2rem(25);
    }
}