.nav_box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    font-size: 2rem;
}
.nav_right{
    height: 100%;
    display: flex;
    align-items: center;
    div{
        cursor: pointer;
        margin: 0 1.289em;
    }
    div:hover{
        border-bottom: 2px solid #34a5da;
    }
}