.nav_box{
    width: 100%;
    height: px2rem(80);
    padding: 0 px2rem(18);
    box-sizing: border-box;
    border-bottom: 1px solid #313131;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
        width: px2rem(570);
        height: px2rem(50);
        background: #2e2e2e;
        border-radius: px2rem(6);
    }
}
.nav_search_box{
    color: #4280e1;
    font-size: px2rem(28);
    i{
        font-size: 100%;
    }
}